
# Python
*.pyc
*.pyo
__pycache__/

# Virtual Environment
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# CSV files
*.csv

# Model Checkpoints (if using ML models)
*.h5
*.pkl

# CMake build directories
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
